/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap"); 
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Simplo';
  font-weight: 400;
  src: local('Simplo'),
        url("./fonts/Simplo-Regular.woff2") format("woff2"),
        url("./_fonts/Simplo-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Simplo";
  font-weight: 500;
  src: local('Simplo'),
        url("./fonts/Simplo-Medium.woff2") format("woff2"),
        url("./fonts/Simplo-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Simplo";
  font-weight: 600;
  src: local('Simplo'),
        url("./fonts/Simplo-Heavy.woff2") format("woff2"),
        url("./fonts/Simplo-Heavy.otf") format("opentype");
}
@font-face {
  font-family: "Simplo";
  font-weight: 700;
  src: local('Simplo'),
        url("./fonts/Simplo-Heavy.woff2") format("woff2"),
        url("./fonts/Simplo-Heavy.otf") format("opentype");
}
@font-face {
  font-family: "Simplo";
  font-weight: 800;
  src: local('Simplo'),
        url("./fonts/Simplo-Bold.woff2") format("woff2"),
        url("./fonts/Simplo-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Simplo";
  font-weight: 900;
  src: local('Simplo'),
        url("./fonts/Simplo-Black.woff2") format("woff2"),
        url("./fonts/Simplo-Black.otf") format("opentype");
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
body {
  background-color: #FFFFFF;
}